.pageTitle{
    padding: calc(var(--section-padding-top)) 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--primary-text-color);
    font-family: var(--secondary-font);
}

.pageTitle h1{
    font-size: 5rem;
    text-align: center;
}