.ensure{
    position: relative;
    padding: var(--section-padding-top)15%;
    background: linear-gradient(to bottom, black 0%, var(--secondary-color) 50%, black 100%)
}

.ensure h2{
    font-size: 6rem;
    font-family: var(--secondary-font);
}

.ensure .p{
    margin: 1vw 45% 1vw 0;
    line-height: 170%;
    font-size: 1.5rem;
}

.itemWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    margin: 6vw 0;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item svg{
    width: 6vw;
    height: 6vw;
    color: var(--primary-color);
}

.item h3{
    padding: 1vw 0;
    font-weight: 900;
    font-size: 1.6rem;
    text-align: center;
}

.item p{
    line-height: 150%;
    color: #ccc;
    
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (max-width: 990px){
    .ensure h2{
        font-size: 4.5rem;
        /* padding-right: 10%; */
        padding: 0 5%;
        text-align: center;
        font-family: var(--secondary-font);
    }
    
    .ensure .p{
        text-align: center;
        margin: 1.5vw 19%;
        font-size: 1.4rem;
        line-height: 150%;
        
    }

    .itemWrapper{
        flex-wrap: wrap;
        gap: 6vw;
        margin: 8vw 0;
    }

    .item{
        width: 40%;
    }
    
    .item svg{
        width: 6vw;
        height: 6vw;
        color: var(--primary-color);
    }
    
    .item h3{
        padding: 1.5vw 0;
        font-size: 1.5rem;
        font-weight: 900;
    }
    
    .item p{
        line-height: 150%;
        font-size: 1.2rem;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .ensure h2{
        font-size: 4rem;
        /* padding-right: 10%; */
        padding: 0 0%;
    }
    
    .ensure .p{
        text-align: center;
        margin: 3vw 0%;
        font-size: 1.2rem;
        line-height: 150%;
        
    }

    .itemWrapper{
        gap: 10vw;
        margin: 8vw 0;
    }

    .item{
        width: 80%;
    }
    
    .item svg{
        width: 12vw;
        height: 12vw;
    }
    
    .item h3{
        padding: 2vw 0;
        font-size: 1.7rem;
        font-weight: 900;
    }
    
    .item p{
        line-height: 160%;
        font-size: 1.4rem;
    }
}