.formAndMap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--section-padding-bottom) 18%;
}

.formWrapper{
    width: 50%;

}
.mapWrapper{
    width: 45%;
}

.menuCover{
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.mapWrapper iframe{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 120%;
    top: -20%;
    border: none;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .formAndMap{
        padding: 0 5%;
    }
    .mapWrapper iframe{
        height: 130%;
        top: -30%;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .formAndMap{
       justify-content: center;
        flex-direction: column;
        gap: 8vw;
    }
    
    .formWrapper{
        width: 100%;
    
    }
    .mapWrapper{
        width: 100%;
    }
    .mapWrapper iframe{
        height: 130%;
        top: -30%;
    }
}