.serviceArea{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: var(--section-padding-top) 10%;
    background: linear-gradient(to right, var(--secondary-color) 0%, #8116AE 100%);
}

.serviceArea h2{
    font-size: 4rem;
    line-height: 180%;
}

.textWrapper{
    width: 50%;
}

.textWrapper a{
    margin: 4vw 0 2vw 0;
}

.textWrapper span{
    display: inline-block;
    margin: 1vw 0;
}

.mapWrapper{
    position: relative;
    width: 45%;
    aspect-ratio: 1.2/1;
    overflow: hidden;
    border-radius: 10px;
}

.mapWrapper iframe{
    position: absolute;
    width: 100%;
    height: 120%;
    top: -20%;
    
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .serviceArea{
        padding: var(--section-padding-top) 5%;
        background: var(--gradient-right);
    }
    
    .serviceArea h2{
        font-size: 2.5rem;
        line-height: 180%;
    }
    
    .textWrapper{
        width: 50%;
    }
    
    .textWrapper a{
        margin: 5vw 0 3vw 0;
    }
    
    .mapWrapper{
        width: 50%;
    }
    
    .mapWrapper iframe{
        height: 130%;
        top: -30%;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .serviceArea{
        padding: var(--section-padding-top) 2%;
        background: var(--gradient-right);
        flex-direction: column-reverse;
        gap: 5vw;
    }
    
    .serviceArea h2{
        font-size: 2.9rem;
        line-height: 180%;
    }
    
    .textWrapper{
        width: 80%;
    }
    
    .textWrapper a{
        margin: 8vw 0 4vw 0;
    }
    
    .mapWrapper{
        width: 80%;
    }
    
    .mapWrapper iframe{
        height: 130%;
            top: -30%;
    }
}