.main-link{
  font-family: var(--primary-font);
  font-weight: 700;
  background-color: var(--primary-color-2);
  font-size: 1.5rem;
  padding: 0.6vw 3.5vw;
  color: var(--primary-text-color);
  text-decoration: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.main-link::after{
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  transform: translateX(-110%);
  transition: 0.4s transform;
}

.main-link:hover::after{
  transform: translateX(0);
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
  .main-link{
    font-size: 1.6rem;
    padding: 1vw 4vw;
  }
  
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
  .main-link{
    font-size: 1.8rem;
    padding: 1.4vw 10vw;
  }
}